.converter-container {
  width: 500px;
  height: 450px;
  border-radius: 7px;
  margin: 50px auto;
  background-color: #373535;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;


  & > form {
    width: 300px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
    row-gap: 15px;
  }

  &  input {
    margin-top: 4px;
    width: 120px;
    height: 30px;
    border: solid gray 1px;
    border-radius: 3px;
    outline: none;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    background-color: #e3e3e3;
    color: #373535;

    &:focus {
      border: #3acc3a solid 2px;
    }
  }
}


