<div class="employeeForm">
  <form [formGroup]="employeeForm">
    <label>
      Name:
      <br>
      <input type="text" formControlName="name">
    </label>
    <label>
      Salary:
      <br>
      <input type="number" formControlName="salary" (keypress)="keyPressNumbersWithDecimal($event)" min="0">
    </label>
    <label>
      Age:
      <br>
      <input type="number" formControlName="age" (keypress)="keyPressNumbersWithDecimal($event)">
    </label>
    <button class="employee-add-btn" [disabled]="employeeForm.invalid" (click)="onClickPost()" *ngIf="checker">Add Employee</button>
    <button class="employee-add-btn" [disabled]="employeeForm.invalid" (click)="editEmployee()" *ngIf="checker===false">Update</button>
    <a *ngIf="checker===false" (click)="cancel()" style="color: blue;cursor: pointer">Cancel</a>
  </form>
</div>
<pagination-controls (pageChange)="pages = $event"></pagination-controls>
<table *ngIf="employeesDB.length" class="employeeTable">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>

  <ng-container *ngFor="let employee of employeesDB | paginate: {itemsPerPage:5, currentPage:pages}">
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}} $</td>
      <td>{{employee.age}}</td>
      <td style="border: none;width: 200px"><button class="updateBtn" (click)="update(employee.id)">Update</button><button class="deleteBtn" (click)="delete(employee.id)">Delete</button></td>
    </tr>
  </ng-container>
</table>


