.employeeForm {
  margin: 20px auto;
  width: 400px;

  & > form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 500;
    font-size: 17px;

    &  input {
      width: 250px;
      height: 35px;
      border: solid 1px #999999;
      border-radius: 5px;
      margin-top: 5px;
      background-color: #f4fafd;
      padding-left: 10px;
      font-size: 16px;
    }

    & > button {
      width: 130px;
      height: 40px;
      border-radius: 10px;
      border: none;
      background-color: #3acc3a;
      color: #f4fafd;
      cursor: pointer;

      &:disabled {
        background: #d7d7d7;
      }
    }
  }
}

.employeeTable {
  width: 1400px;
  border: solid black 1px;
  margin: 50px auto;
  border-collapse: collapse;
  text-align: center;
  background: #373535;
  color: white;

  &  td,th {
    border: solid black 1px;
    font-family: monospace;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  & th {
    height: 50px;
    font-size: 22px;
    font-weight: 900;
    border: none;
  }
}
