<div class="employeeForm">
  <form [formGroup]="employeeForm">
    <label>
      Name:
      <br>
      <input type="text" formControlName="name">
    </label>
    <label>
      Salary:
      <br>
      <input type="number" formControlName="salary" (keypress)="keyPressNumbersWithDecimal($event)">
    </label>
    <label>
      Age:
      <br>
      <input type="number" formControlName="age" (keypress)="keyPressNumbersWithDecimal($event)">
    </label>
    <button class="employee-add-btn" [disabled]="employeeForm.invalid" (click)="onClickPost()">Add Employee</button>
  </form>
</div>

<table *ngIf="employeesDB.length" class="employeeTable">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>

  <ng-container *ngFor="let employee of employeesDB">
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}$</td>
      <td>{{employee.age}}</td>
    </tr>
  </ng-container>
</table>
