<div class="form-container">
  <form [formGroup]="forms">
    <label>
      E-mail:
      <br>
      <input formControlName="email" id="email" type="email">
    </label>
    <label>
      Password:
      <br>
      <input formControlName="password" type="password">
    </label>
    <label>
      Confirm Password:
      <br>
      <input formControlName="confirmPassword" type="password">
    </label>
    <label>
      Nickname:
      <br>
      <input formControlName="nickname">
    </label>
    <label>
      Phone:
      <br>
      <input formControlName="phone">
    </label>
    <label>
      Website:
      <br>
      <input formControlName="website">
    </label>
    <label>
      <input type="checkbox" formControlName="checkbox">
      I have read the agreement
    </label>
    <button [disabled]="forms.invalid" (click)="onClick()">Register</button>
  </form>
</div>

<table class="users">
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th>Nickname</th>
    <th>Phone</th>
    <th>Website</th>
  </tr>

    <ng-container *ngFor="let user of users">
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.nickname}}</td>
        <td>{{user.phone}}</td>
       <td>{{user.website}}</td>
      </tr>
    </ng-container>
</table>
