.form-container {
  margin: auto;
  width: 700px;

  & > form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    &  input:not([type='checkbox']) {
      width: 400px;
      height: 35px;
      border: solid #dfdfdf 2px;
      border-radius: 3px;
      padding-left: 10px;
    }

    & > button {
      background: #1890ff;
      border: none;
      border-radius: 4px;
      width: 100px;
      height: 40px;
      color: white;

      &:disabled {
        background: #dfdfdf;
      }
    }
  }
}

.users {
  width: 1400px;
  border: solid black 1px;
  margin: 50px auto;
  border-collapse: collapse;
  text-align: center;
  background: #373535;
  color: white;

  &  td,tr,th {
    border: solid black 1px;
    font-family: monospace;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.editBtn {
  background-color: #3acc3a;
  border: none;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
  font-size: 15px;
}

.removeBtn {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
  font-size: 15px;
  margin-left: 4px;
}
